.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    padding-top: 20px;

    h3 {
        font-size: medium;
        background-color: rgba(168, 167, 167, 0.488);
        padding: 2px;
        padding-left: 5px;
        border-radius: 3px;
        font-weight: lighter;
    }

    p {
        padding-left: 5px;
        border-radius: 3px;
        padding: 2px;
        margin-top: 2px;
    }

    .author {
        .authorinfo {
            display: flex;
            align-items: center;
            padding: 2px;
            padding-left: 5px;
            border-radius: 3px;
            margin-top: 2px;
            gap: 5px;
        }
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

   .topico {
    display: flex;
    padding: 2px 2px;
    p {
        padding:2px 5px;
    }
   }


    .travel {
        background-color: rgba(0, 128, 0, 0.323);
        border-color: rgba(1, 98, 1, 0.641);
    }

    .other {
        background-color:rgba(210, 105, 30, 0.363);
        border-color: rgba(151, 71, 14, 0.775);
    }

    .photography {
        background-color: rgba(107, 107, 107, 0.662);
        border-color: rgba(137, 135, 135, 0.662);
    }

    .music {
        background-color: rgba(60, 60, 215, 0.389);
        border-color: rgba(26, 26, 173, 0.745);;
    }

    .computer {
        background-color: rgba(0, 255, 255, 0.222);
        border-color: rgba(26, 169, 169, 0.666);;
    }

    .food {
        background-color: rgba(255, 0, 0, 0.184);
        border-color: rgba(151, 5, 5, 0.471);;
    }

    .robotics {
        background-color: rgba(192, 192, 192, 0.43);
        border-color:  rgb(99, 94, 94);;
    }

    .item {
        padding-bottom: 10px;

    }

    .author {

        button {
            margin-left: 5px;
            background-color: transparent;
            border: none;
        }
    }



    .manageButtons {
        display: flex;
        gap: 10px;

        button {
            /* background-color: transparent; */
            /* border: 1px solid rgba(69, 69, 234, 0.751); */
            background-color: rgba(221, 106, 61, 0.841);
            padding: 5px;
            color: rgb(0, 0, 0);
            border-radius: 5px;
            border: 2px solid;
            border-color: rgb(248, 168, 110) rgb(222, 112, 33) rgb(222, 112, 33) rgb(248, 168, 110);
            cursor: pointer;

            &:hover {
                background-color: rgba(221, 106, 61, 0.639);
            }

            &:active {
                background-color: rgba(142, 54, 20, 0.667);
                border-color: rgb(222, 112, 33) rgb(248, 168, 110) rgb(248, 168, 110) rgb(222, 112, 33);
            }
        }

        .editButton {
            button {
                background-color: rgba(61, 221, 202, 0.544);
                border-color: rgba(61, 221, 202, 0.755) rgba(81, 189, 177, 0.625) rgba(81, 189, 177, 0.625) rgba(61, 221, 202, 0.755);

                &:hover {
                    background-color: rgba(61, 221, 202, 0.393);
                }

                &:active {
                    background-color: rgba(42, 134, 123, 0.544);
                    border-color: rgba(81, 189, 177, 0.625) rgba(61, 221, 202, 0.755) rgba(61, 221, 202, 0.755) rgba(81, 189, 177, 0.625);
                }
            }
        }
    }
}