.uploadPicturesContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .dropzone {
        width: 100%;
        height: 100px;
        border: 2px dashed #aaa;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaa;
        transition: background-color 0.3s ease;
        cursor: pointer;
        position: relative;
        text-align: center;
    }

    .dropzone.dragging {
        background-color: #e0f7fa;
        color: #00796b;
        border-color: #00796b;
    }

    .preview-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

    .preview-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }

    button {
        /* background-color: transparent; */
        /* border: 1px solid rgba(69, 69, 234, 0.751); */
        padding: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
        border: 2px solid;
        cursor: pointer;

        background-color: rgba(61, 221, 202, 0.544);
        border-color: rgba(61, 221, 202, 0.755) rgba(81, 189, 177, 0.625) rgba(81, 189, 177, 0.625) rgba(61, 221, 202, 0.755);

        &:hover {
            background-color: rgba(61, 221, 202, 0.393);
        }

        &:active {
            background-color: rgba(42, 134, 123, 0.544);
            border-color: rgba(81, 189, 177, 0.625) rgba(61, 221, 202, 0.755) rgba(61, 221, 202, 0.755) rgba(81, 189, 177, 0.625);
        }
    }

    .server-image {
        width: 60%;
        max-width: 100%;
        /* Ensure the image doesn't overflow */
        margin: 0 auto;
        /* Centre the image horizontally */
        display: block;
        /* Block-level element for centring */
    }

    .uploaded-images-container {
        padding: 10px 0;
        width: 100%;
    }

    .server-image-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centre the items vertically */
        justify-content: center;
        /* Centre the items horizontally */
        width: 100%;
        text-align: center;
        /* Centre inline elements like images */
        gap: 5px;
    }
}