.blog {
    flex: 3;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
    display: flex;
    /* align-items: center; */
    padding: 10px;
    gap: 10px;
    flex-direction: column;
    /* overflow: scroll; */
    padding-left: 50px;
    padding-right: 50px;
    hyphens: auto; 
	text-align: justify;
}

.blogtitle {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 25px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(131, 130, 130, 0.312);
    h2 {
        text-shadow: 3px 2px 5px rgba(133, 133, 133, 0.772);
    }
    span {
        color: rgba(255, 73, 12, 0.92);
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.232);
    }
}

.blogcontent {
    /* border: 1px solid rgba(131, 131, 131, 0.226);
    border-radius: 5px; */
    padding: 20px 25px ;  
    overflow:scroll;
    width: 100%;
    p, h1, h2, h3, li, a, ol, ul, span {

        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    h1, h2, h3, h4 {
        margin-top: 15px;
    }

    h1 {
        font-size: x-large;
        margin-bottom: 14px;
    }
    h2 {
        font-size: large;
        margin-bottom: 9px;
    } 
    h3 {
        font-size: medium;
        margin-bottom: 7px;
    }
    
    ol, ul {
        margin-bottom: 16px;
    }
    ul {
        list-style-type: square;
        margin-left: 20px;
    }
    li {
        margin-left: 25px;
    }
    
    p {
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }

    a {
        background-color: rgba(251, 150, 67, 0.848);
        color: rgb(0, 0, 0);
        padding: 0px 3px;
        border-radius: 2px;

    }
        
    table {
        width: 80%;
        padding: 1px;
        border-spacing: 1px 3px;
        /* Increase vertical space between rows */
        border-collapse: separate;
        /* Ensure spacing works */
        border: none;

        th,
        td {
            border-radius: 1px;
            padding: 3px;
            text-align: left;
            background-color: rgba(151, 149, 149, 0.61);
        }

        th {
            cursor: pointer;
            position: relative;
            padding-right: 10px;
            background-color: rgba(73, 73, 73, 0.808);
        }
        th::after {
            content: "";
            position: absolute;
            right: 5px;
        }
    }

    code {
        background-color: red;
    }
}